<% include ../../partials/profile/header %>
<% include ../../partials/profile/navbar %>
<% include ../../partials/profile/sidebar %>

<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title"><%= pageName %> </h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/profile/patient/lists"
                                        class="breadcrumb-link"><%= pageName %></a></li>
                                <li class="breadcrumb-item active" aria-current="page"><%= pageSubName %></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->
        <div class="ecommerce-widget">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <% include ../../partials/message1 %>
                                <div class="form-group">
                                    <label for="otherRequest">Username</label>
                                    <input class="form-control form-control-md" type="text" id="username"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="otherRequest">Password</label>
                                    <input class="form-control form-control-md" type="password" id="password"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="otherRequest">Email</label>
                                    <input class="form-control form-control-md" type="email" id="email"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="otherRequest">First name</label>
                                    <input class="form-control form-control-md" type="text" id="first-name"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="otherRequest">Middle name</label>
                                    <input class="form-control form-control-md" type="text" id="middle-name"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="otherRequest">Last name</label>
                                    <input class="form-control form-control-md" type="text" id="last-name"
                                        placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="category">Gender</label>
                                    <select class="form-control form-control-md" id="gender">
                                        <option>-- Select --</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="datetimepicker">Date of Birth</label>
                                    <input type="text" class="form-control form-control-md datetimepicker-input"
                                        id="datetimepicker" data-toggle="datetimepicker"
                                        data-target="#datetimepicker" autocomplete="off" />
                                </div>
                                <div class="form-group pt-2">
                                    <button class="btn btn-block btn-primary" type="button" id="submitButton"
                                        onclick="addPatient()">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../../partials/profile/topFooter %>
<% include ../../partials/profile/middleFooter %>

<script>
    $(function () {
        $('#datetimepicker').datetimepicker({
            format: 'L'
        });
    });
</script>
<script src="/operator/profile/patient/add.js"></script>

<% include ../../partials/profile/bottomFooter %>